{% extends "AoshidostudyBundle:ABM:abmPreguntas.html.twig" %}
{% block form %}
    <div class="panel panel-info">
        <div class="panel-heading">Agregar preguntas</div>
        <div class="panel-body">
            <div class="form-group">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                
                {{ form_row(form.contenido) }}
                {{ form_row(form.vof) }}
                {{ form_row(form.respuesta) }}
                {{ form_row(form.activo) }}

                <table class="table">
                    {% for choice in form.choices %}
                        <tr>                       
                            <td class="col-md-1">{{ form_row(choice.correcto) }}</td>
                            <td class="col-md-5">{{ form_row(choice.contenido) }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {{ form_row(form.save) }}
                {{ form_end (form) }}
            </div>
        </div>
    </div>
{%endblock%}