<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Study{% endblock %}</title>
        {% block stylesheets %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

            {% stylesheets '../app/Resources/public/css/style.css' %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
            
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    {% image '@AoshidostudyBundle/img/background.png' %}
    <body background="{{ asset_url }}">
        {% endimage %}
    {% block body %}{% endblock %}
    {% block javascripts %}
		<script src="{{ asset('js/jquery.js') }}"></script>
		
                <!-- Include all JavaScripts, compiled by Assetic -->
		<script type="text/javascript" src="{{ asset('bundles/bmatznerjqueryui/js/minified/jquery-ui.min.js') }}"></script>
		
                <!-- Latest compiled and minified JavaScript -->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
                
		<script src="{{ asset('js/bootstrap.js') }}"></script>
    {% endblock %}
</body>
</html>
