{% extends '::default/layout.html.twig' %}

{% block title %}Make Knowledge!{% endblock %}

{% block abms %}class="active"{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-primary">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <div class="panel-heading">Preguntas Disponibles: {{ cantidad }}</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th class="col-md-1 text-center">Nro</th>
                        <th class="col-md-7">Contenido</th>
                        <th class="col-md-2">Materia</th>
                        <th class="col-md-1">Tema</th>
                        <th class="col-md-1">V o F</th>
                        <th class="col-md-1">RTA</th>
                    </tr>
                    {% for pregunta in paginas %}
                        <tr>
                            <td class="col-md-1 text-center"><a href="{{path('aoshidostudy_index')}}"><div style="height:100%;width:100%">{{ pregunta.id }}</div></a></td>
                            <td class="col-md-7">{{ pregunta.contenido }}</td>
                            <td class="col-md-2">{{ pregunta.materia }}</td>
                            <td class="col-md-1">{{ pregunta.tema }}</td>
                            <td class="col-md-1">
                                {% if (pregunta.vof == 1) %} 
                                    <span class="glyphicon glyphicon-ok-circle blue" aria-hidden="true"></span>
                                {%else%}
                                    <span class="glyphicon glyphicon-remove-circle blue" aria-hidden="true"></span>
                                {% endif %}
                            </td>
                            <td class="col-md-1">
                                {% if (pregunta.respuesta != "") %} 
                                    <span class="glyphicon glyphicon glyphicon-check green" aria-hidden="true"></span>
                                {%else%}
                                    <span class="glyphicon glyphicon glyphicon-exclamation-sign red" aria-hidden="true"></span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(paginas) }}
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">Agregar preguntas</div>
                    <div class="panel-body">
                        <div class="form-group">
                            {{ form_start(form) }}
                            {{ form_errors(form) }}

                            <label for="contenido">{{ form_label(form.contenido) }} </label>
                            {{ form_widget(form.contenido) }}
                            {{ form_widget(form.vof) }}

                            {{ form_row(form.materia) }}
                            {{ form_row(form.tema) }}
                            {{ form_row(form.respuesta) }}

                            {{ form_widget(form.save) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}