{% extends '::default/layout.html.twig' %}

{% block title %}Make Knowledge!{% endblock %}

{% block abms %}class="active"{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-primary">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <div class="panel-heading">Preguntas Disponibles: {{ cantidad }}</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th class="col-md-1">Pregunta</th>
                        <th class="col-md-8">Contenido</th>
                        <th class="col-md-3">V o F </th>
                    </tr>
                    {% for pregunta in paginas %}
                        <tr>
                            <td>{{ pregunta.id }}</td>
                            <td>{{ pregunta.contenido }}</td>
                            <td>
                                {% if (pregunta.vof == 1) %} 
                                    Verdadero
                                {%else%}
                                    Falso
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(paginas) }}
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">Agregar preguntas</div>
                    <div class="panel-body">
                        <div class="form-group">
                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                            <label for="contenido">{{ form_label(form.contenido) }} </label>
                            {{ form_widget(form.contenido) }}
                            {{ form_widget(form.vof) }}
                            {{ form_widget(form.save) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}