<HEAD>
<<<<<<< HEAD
<h1 style="font-family:arial">Comienzo de la Pagina</h1>
=======
<h1>Comienzo de la Pagina</h1>
>>>>>>> cb00e339cfba027dfc4d7987b3078719d65f3fb7
</HEAD>
<body>
    <table border="1">
        <tr>
            <th>Pregunta</th>
<<<<<<< HEAD
            <th>Contenido</th>
=======
>>>>>>> cb00e339cfba027dfc4d7987b3078719d65f3fb7
            <th>V o F </th>
        </tr>
        {%for pregunta in preguntas %}
            <tr>
<<<<<<< HEAD
                <td>{{ pregunta.id }}</td>
=======
>>>>>>> cb00e339cfba027dfc4d7987b3078719d65f3fb7
                <td>{{ pregunta.contenido }}</td>
                <td>
                    {% if (pregunta.vof == 1) %} 
                        Verdadero
                    {%else%}
                        Falso
                    {% endif %}
                </td>
            </tr>
        {% endfor %}    
    </table>

<<<<<<< HEAD
    <h2 style="font-family:arial">Aca el form para agregar preguntas</h2>
=======
    <h2>Aca el form para agregar preguntas</h2>
>>>>>>> cb00e339cfba027dfc4d7987b3078719d65f3fb7

    <table border="1">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <tr>
            <td>{{ form_label(form.contenido) }}</td>
            <td>{{ form_widget(form.contenido) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.vof) }}</td>
            <td>{{ form_widget(form.vof) }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ form_widget(form.save) }}</td>
        </tr>

        {{ form_end(form) }}
    </table>
</body>