{% extends '::default/layout.html.twig' %}

{% block title %}Quiz Time!{% endblock %}

{% block quiz %}class="active"{% endblock %}

{% block content %}

    {% for flashMessage in app.session.flashbag.get('notice') %}

        <div  class="alert alert-success alert-message" >
            <span class="close" data-dismiss="alert">×</span>
            {{ flashMessage }}&nbsp;
        </div>
        
    {% endfor %}
    
    <div class="container">
        <div class="panel panel-primary">

            <div class="panel-heading">Questionario</div>

            <div class="panel-body">
                <div class="panel panel-info">
                    <div class="panel-heading">Pregunta numero {{ pregunta.id }}</div>
                    <div class="panel-body">
                        <blockquote>
                            {{ pregunta.contenido }}
                        </blockquote>

                        {{ form_start(form) }}
                        {{ form_row(form.Verdad) }}
                        {{ form_row(form.Falso) }}
                        {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}