{% extends '::default/layout.html.twig' %}

{% block title %}Quiz Time!{% endblock %}

{% block quiz %}class="active"{% endblock %}

{% block content %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        {% if flashMessage == 'La respuesta es Correcta!' %}
            <div class="alert alert-success alert-message" >
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                &nbsp{{ flashMessage }}&nbsp;
            </div>
        {% else %}
            <div class="alert alert-danger alert-message" >
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                &nbsp{{ flashMessage }}&nbsp;
            </div>
        {% endif %}

    {% endfor %}

    <div class="container">
        <div class="panel panel-primary">

            <div class="panel-heading">Questionario</div>

            <div class="panel-body">
                <div class="panel panel-info">
                    <div class="panel-heading">Pregunta numero {{ pregunta.id }}</div>
                    <div class="panel-body">
                        <blockquote>
                            {{ pregunta.contenido }}
                        </blockquote>

                        {{ form_start(form) }}
                        {{ form_row(form.Verdad) }}
                        {{ form_row(form.Falso) }}
                        {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}